.blogContent, .addBlog-content{
    float: left;
    /* margin-top: 50px; */
    padding: 15px 15px 0px 30px; 
    min-height: 100vh;
    width: 70%; 
    margin-left: 250px;
}
.addBlog-content p{
    margin-top: 30px;
}
.editBlogItem{
    cursor: pointer;
    text-align: left;
    width: 100%;
    height: 100px;
    background-color: #fff;
    border:1px solid #f1f1f1;
     margin: 30px; 
    padding-left: 20px;
}
.setting{
    float: right;
    margin-right: 20px;
    margin-top: -40px;
}