.article{
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    background-color: #fff;
    overflow: hidden;
}
.articleMain{
    max-width: 65%; 
    margin: 50px auto;
}
.articleContent{

}
.articleTitle h1{
    margin-bottom: 20px;
    color: #222;
    font: 300 30px/1.5em "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
}
.articleTime{
    color: #b2b9be;
    text-align: center;
    font: 400 13px/1.5em 'Microsoft Yahei','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin-top: -10px;
}
.articleText{
    width: 100%;
    line-height: 2;
    padding: 20px;
}
.comment{
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}
.commentEdit{
    background-color: #f1f1f1;
    width: 100%;
    margin-bottom: 30px;
    border:2px solid #DEDEDE;
    padding: 10px;
    padding-bottom: 0;
}
.author{
    width: 30%;
}
.commentItem{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
    margin: 0 auto;
}
.btn{
    float: right;
}
.commentItem-time{
    float: right;
} 