.userContent{
    float: left;
    padding: 15px 15px 0px 30px;
    min-height: 100vh;
    width: 70%;
    margin-left: 250px; 
}
.userForm{
    width: 70%;
}
.userForm p{
    margin-top: 30px;
}
.userForm input{
    display: inline-block;
    width: 70%;
    margin-left: 20px;
}
.userForm textarea{
    width: 70%;
    margin-left: 85px;
}
.userForm .user-btn{
    margin: 0;
    width: 15%;
}
.userAvatar{
    width: 100px;
    height: 100px;
    margin-left: 50px;
}