.article{
    background-color: #f6f6f6;
    min-height: 100vh;
}
.articleContent{
    margin: 80px auto 40px;
    width: 50%;
    text-align: center;
    background-color: #fff;
    border:1px solid #f1f1f1;
    padding: 0px 20px 50px;
}
.articleTitle{
    font-size: 24px;
    font-weight: 400;
    color: #555;
}
.articleTime{
    color: #999;
    font-size: 12px;
}
.articleText{
    width: 100%;
    text-indent: 2em;
    text-align: left;
     word-wrap: break-word;
     letter-spacing: 1.5px;
     line-height: 25px;
     color:#555;
}
.comment{
    width: 50%;
    margin: 0 auto;
}
.commentEdit{
    background-color: #f1f1f1;
    width: 100%;
    margin-bottom: 30px;
    border:2px solid #DEDEDE;
    padding: 10px;
    padding-bottom: 0;
}
.author{
    width: 30%;
}
.commentItem{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
    margin: 0 auto;
}
.btn{
    float: right;
}
.commentItem-time{
    float: right;
}